# Generated with Atomizr – https://atom.io/packages/atomizr
".source.js - variable.other.js":
	"WP Customizer postMessage JS Basic":
		prefix: "wpCustomizerPostMessageJSBasic"
		body: '''
			// Setting: ${1:Name}.
			wp.customize( '${2:prefix}_${3:id}', function( value ) {
				value.bind( function( to ) {
					\\$( '.${2:prefix}_${3:id}' ).text( to );
				} );
			} );
			${4:}
		'''
